# Python
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Betriebssystem
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/